.filter button {
  margin-left: 5px;
  padding: 8px;
  outline: none;
  font-size: 15px;
  color: rgb(40, 40, 40);
  background-color: transparent;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 4px;
  cursor: pointer;
}
.filter button:hover {
  color: #fff;
  background-color: rgb(40, 40, 40);
}
