.input_search {
  width: 320px;
  outline: none;
  font-size: 16px;
  color: rgb(40, 40, 40);
  padding: 5px;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 4px;
  background-color: transparent;
}
.input_search::placeholder {
  color: rgb(40, 40, 40);
}
.input_search:focus {
  background-color: rgb(40, 40, 40);
  color: #fff;
}
