body {
    margin: 0;
}
table {
    width: 100%;
    border-collapse: separate; border-spacing: 10px 15px;
}
.td1 {
    background-color: rgb(255, 163, 53);
    height: 60px;
}
.td2 {
    background-color: rgb(218, 236, 0);
    height: 190px;
}
.td3 {
    background-color: rgb(74, 137, 208);
    height: 140px;
}
.td4 {
    background-color: rgb(227, 227, 227);
    height: 90px;
}