.starship-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: 1px solid #444;
}

.starship-details .starship-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.starship-details .list-group-item {
  padding: 0.25rem;
}

.starship-details .list-group-item .term {
  margin-right: 0.5rem;
}

.select-starship {
  padding: 49px;
  text-align: center;
  font-size: 28px;
  border: 1px solid #444;
}
